@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Ubuntu:wght@400;700&display=swap");
@import "./vendor/swiper.min.css";
:root {
  --color-black: #000;
  --color-light: #fff;
  --color-gray: #424551;
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-primary: #ff5a30;
  --color-athens: #f4f5f7;
  --color-active: #fc3300;
  --grid-gap: 30px;
  --hero-slider-speed: 500;
  --main-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: var(--color-ebony);
  text-transform: uppercase;
}
.main-title span {
  color: var(--color-primary);
}
.main-title--home {
  color: var(--color-light);
}

.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-storm);
}
.main-descr--home {
  color: var(--color-light);
  margin-bottom: 60px;
}

.btn {
  padding: 15px 39px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-light);
}
.btn--fill {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn--stroke-light {
  border-color: var(--color-light);
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  color: var(--color-ebony);
}
.title--center {
  text-align: center;
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-storm);
}
.descr--center {
  text-align: center;
}

.section-offset {
  padding-top: 120px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.slider-nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slider-nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: var(--color-gray);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slider-nav__btn svg {
  display: block;
  width: 24px;
  height: 24px;
  color: inherit;
  fill: currentColor;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-nav__btn:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
.slider-nav__btn:hover {
  color: var(--color-light);
  background-color: var(--color-primary);
}
.slider-nav__btn:active {
  color: var(--color-light);
  background-color: var(--color-active);
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.header {
  padding-top: 23px;
  padding-bottom: 21px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  margin-left: -112px;
}
.header--main {
  background-color: var(--color-light);
}

.hero {
  padding-top: 220px;
  padding-bottom: 354px;
  background-color: var(--color-gray);
  background-image: url("../../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__content {
  max-width: 590px;
}
.hero__btns .btn:not(:last-child) {
  margin-right: 22px;
}

.about-section {
  padding-bottom: 60px;
  background-color: var(--color-light);
}

.mission {
  background-color: var(--color-light);
}
.mission__list {
  --mission-gap: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 27px;
  gap: calc(var(--mission-gap) * 2);
}
.mission__item {
  position: relative;
  padding-top: 71px;
  text-align: center;
  background-position: top center;
  background-size: 48px 48px;
  background-repeat: no-repeat;
}
.mission__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: calc(-1 * var(--mission-gap));
  top: 0;
  width: 1px;
  height: 100%;
  background-image: url("../../img/divider.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mission__item--quality {
  background-image: url("../../img/quality.svg");
}
.mission__item--safety {
  background-image: url("../../img/safety.svg");
}
.mission__item--comfort {
  background-image: url("../../img/comfort.svg");
}
.mission__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-ebony);
}
.mission__descr {
  margin: 0;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-storm);
}

.know-form {
  position: relative;
  top: 92px;
  border-radius: 4px;
  padding: 48px 60px;
  box-shadow: var(--main-shadow);
  background-color: var(--color-light);
}
.know-form__title {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: var(--color-ebony);
}
.know-form__content {
  display: flex;
  align-items: flex-end;
}
.know-form__field {
  margin-right: 24px;
}
.know-form__btn {
  padding: 11px 29px;
}

.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url("../../img/services-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section__list {
  margin-bottom: 80px;
}

.services-list__item {
  grid-column: 3 span;
}

.services-item {
  position: relative;
  display: block;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  padding: 0 10px;
  padding-top: 87px;
  padding-bottom: 90px;
  box-shadow: var(--main-shadow);
  background: var(--color-light);
}
.services-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  border-radius: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-ebony);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.services-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  border-radius: inherit;
  background-color: rgba(30, 33, 44, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.services-item:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
.services-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
.services-item__icon {
  margin-bottom: 23px;
  width: 52px;
  height: 52px;
  fill: var(--color-primary);
  -o-object-fit: cover;
     object-fit: cover;
  transition: fill 0.3s ease-in-out;
}
.services-item__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-ebony);
  transition: color 0.3s ease-in-out;
}
.services-item::before {
  background-image: url("../../img/services-1.jpg");
}
.services-item:hover::before {
  opacity: 1;
}
.services-item:hover::after {
  opacity: 1;
}
.services-item:hover .services-item__icon {
  fill: var(--color-light);
}
.services-item:hover .services-item__title {
  color: var(--color-light);
}

.portfolio-section {
  padding: 120px 0;
  background-color: var(--color-light);
}
.portfolio-section__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 48px;
}
.portfolio-section__slider-nav {
  transform: translateX(12px);
}
.portfolio-section__title {
  margin: 0;
  padding-bottom: 12px;
  max-width: 710px;
}
.portfolio-section__items {
  padding-bottom: 100px;
}

.partners {
  padding: 80px 0;
  background-color: var(--color-athens);
}
.partners__title {
  margin-bottom: 60px;
}
.partners__list {
  display: grid;
  -moz-column-gap: 102px;
       column-gap: 102px;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;
}
.partners__link:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
.partners--about {
  padding: 120px 0;
  background-color: var(--color-light);
}
.partners--about .partners__title {
  margin-bottom: 25px;
}

.testimonials {
  padding-top: 97px;
  background-color: var(--color-athens);
}
.testimonials__content {
  max-width: 612px;
}
.testimonials__image {
  position: relative;
  z-index: 5;
  margin-bottom: -60px;
}
.testimonials__title {
  margin-bottom: 60px;
}
.testimonials__items {
  position: relative;
  padding-bottom: 12px;
}
.testimonials__slider-nav {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.testimonials__container {
  display: flex;
  justify-content: space-between;
}

.testimonials-item__image {
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 100%;
  width: 72px;
  height: 72px;
}
.testimonials-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-item__descr {
  margin: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-gray);
}
.testimonials-item__author {
  display: block;
  margin-bottom: 4px;
  padding-right: 110px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-ebony);
}
.testimonials-item__author-position {
  display: block;
  padding-right: 110px;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-gray);
}

.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-contacts__link:not(:last-child) {
  margin-right: 35px;
}

.contacts-link {
  padding-left: 53px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  line-height: 1.5;
}
.contacts-link__caption {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-gray);
}
.contacts-link__value {
  font-size: 18px;
  color: var(--color-ebony);
}
.contacts-link--call {
  background-image: url("../../img/phone.svg");
}
.contacts-link--mail {
  background-image: url("../../img/chat.svg");
}

.video-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;
}
.video-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(30, 33, 44, 0.6);
}
.video-block__content {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-block__play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.video-block__play svg {
  width: 26px;
  height: 26px;
}
.video-block__muted {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 32px;
  bottom: 32px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.12);
  z-index: 10;
}
.video-block__muted svg {
  width: 20px;
  height: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-field__caption {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-gray);
}
.form-field__input {
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding-left: 15px;
  width: 260px;
  height: 44px;
  font-size: 14px;
  line-height: 150%;
}
.form-field__input::-moz-placeholder {
  color: #9a9ca5;
}
.form-field__input::placeholder {
  color: #9a9ca5;
}
.form-field__input:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
.form-field__input--big {
  padding-top: 10px;
  height: 66px;
  resize: none;
}
.form-field--big {
  flex-grow: 1;
}
.form-field--big .form-field__input {
  width: 100%;
}
.form-field--gray {
  width: 100%;
}
.form-field--gray .form-field__input {
  width: 100%;
  background-color: var(--color-athens);
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn-more__subtitle {
  margin: 0;
  margin-right: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--color-ebony);
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  background: var(--color-light);
  transition: transform 0.3s ease-in-out;
}
.portfolio-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  padding-top: 16px;
  padding-bottom: 23px;
}
.portfolio-item__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-ebony);
}
.portfolio-item__descr {
  display: inline-block;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
}
.portfolio-item__btn {
  margin-top: 24px;
  margin-bottom: -68px;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 13px 31px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
  will-change: margin;
}
.portfolio-item:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}/*# sourceMappingURL=style.css.map */